
h1, h2, h3 {
    font-family: "Helvetica", sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 36px;
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.body {
    background-color: black;
}
.card_color{
    background-color:#131212;
    width: fit-content;
    height: fit-content;
}
.image_size{
    width:auto;
    height:auto; 
}
.card_body{
    align-items: center;
    text-align: center;
}
.footer_content{
    text-align: center;
    bottom: 0;
}
.login_box{
    border-radius: 10px;      
}


